.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.score-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header-scoreBar {
  padding: 0 5px;
}